body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: steelblue;
}

p {
  margin-left: 8px;
  margin-top: 0;
  margin-bottom: 0;
}
.mainContainer {
  display: flex;
  align-items: flex-start;
  margin-left: 381px;
  margin-top: 100px;
  padding: 0;

  width: 400px;
  align-content: center;
}

.container {
  width: 175px;
  border: 1px solid #6d6b65;
  border-radius: 8px;
  background-color: #272626;
  color: #b6b7b7;
  opacity: 0.6;
  padding: 2px;
  box-shadow: -2px 6px 9px -2px rgba(0, 0, 0, 0.75);
}
.underline {
  border: 1px solid #6d6b65;
  margin: 2px;
}
.extern {
  /* visibility: visible; */
  visibility: hidden;
  margin-left: 1px;
  width: 175px;
  border: 1px solid #6d6b65;
  border-radius: 8px;
  background-color: #272626;
  color: #b6b7b7;
  opacity: 0.6;
  padding: 2px;
  box-shadow: -2px 6px 9px -2px rgba(0, 0, 0, 0.75);
}

i {
  margin-left: 48px;
}
p:hover {
  background-color: darkslategray;
  cursor: default;
}
